
.banner-slide {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content { 
    position: absolute;
    top: 0%;
    left: 0%;  
    right: 0%;
    bottom: 0%;
    margin: 0 auto;
    display: block;
    text-align: center; 
}
 