
.banner-slide {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
}
@media only screen and (max-width: 767px) {
    .banner-slide {
        height: 500px;  
    }
    .banner-slide p{
       font-size: 16px;
       padding-right: 40px;
       padding-left: 40px; 
    }
}

.banner-content { 
    position: absolute;
    top: 0%;
    left: 0%;  
    right: 0%;
    bottom: 0%;
    margin: 0 auto;
    display: block;
    text-align: center; 
}
 